pre {
  padding: 0;
}

pre code {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}

h2 {
  padding-bottom: 0.3em;
  font-size: 1.5em;
  border-bottom: 1px solid #eee;
  margin-top: 24px;
  margin-bottom: 16px;
}

h4 {
  font-size: 1em;
}

ol {
  padding-left: 2em;
}

li + li {
    padding-top: 0.25em;
}
