<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/dist/{{ manifest['public/custom/css/base.css'].file }}">
  {% block css %}{% endblock %}
  <title>SPOG{% block title %}{% endblock %}</title>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <nav class="top-0 bottom-0 col-md-3 col-lg-2 d-md-block pt-2 bg-light sidebar">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="/">SPOG</a>
          </li>

          <li class="nav-item">
            <a class="nav-link btn-toggle collapsed" data-bs-toggle="collapse" data-bs-target="#experiment-collapse" aria-expanded="false" href="#">Experiment</a>
          </li>
          <div class="collapse" id="experiment-collapse">
            {% for contract in contractsList %}
            <li class="nav-item">
              <a class="nav-link" href="/demo/{{ contract.address }}">{{ contract.name }}</a>
            </li>
            {% endfor %}
          </div>

          <li class="nav-item">
            <a class="nav-link" href="/research">Research</a>
          </li>
        </ul>
      </nav>

      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-5 mt-md-5">
        {% block content %}{% endblock %}
      </main>
    </div>
  </div>
  <script src="/js/bootstrap.bundle.min.js"></script>
  {% block js %}{% endblock %}
</body>
</html>
