<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  {% block css %}{% endblock %}
  <title>SPOG{% block title %}{% endblock %}</title>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <nav class="position-absolute top-0 bottom-0 col-md-2 col-lg-1 d-md-block pt-2 bg-light sidebar">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="/">SPOG</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/demo">Demo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/research">Research</a>
          </li>
        </ul>
      </nav>
      <main class="col-md-10 ms-sm-auto col-lg-11 px-md-5 mt-md-5">
        {% block content %}{% endblock %}
      </main>
    </div>
  </div>
  <script src="/js/bootstrap.min.js"></script>
  {% block js %}{% endblock %}
</body>
</html>
