{% extends "base.html" %}

{% block title %} - Round {{ round }}{% endblock %}

{% block css %}
<style>
#vote li a {
  padding: 10px;
  display: inline-block;
}

#error-message {
  color: red;
  padding: 8px 0 0 10px;
}

#loading {
  margin: 11px 0 0 20px;
}
</style>
{% endblock %}

{% block js %}
  <script type="text/javascript">
    const abi = {{ abi|safe }};
    const contractAddress = "{{ contractAddress }}";
  </script>
  <script type="module" src="/dist/{{ manifest['public/custom/js/wallet.js'].file }}"></script>
{% endblock %}

{% block content %}
<div class="container-fluid mt-3">
  <h2>{{ contract.name }}</h2>
  <div class="d-flex justify-content-start">
    <!-- <div class="p-2"><w3m-network-button> </w3m-network-button></div> -->
    <div class="p-2"><w3m-button></w3m-button></div>

    <div id="loading" class="spinner-grow text-primary" style="display: none;" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  <br>
  <ul id="vote" class="nav flex-column">
    <li>
      <a href="#" class="contract-vote" data-vote="{{ voteTypeMap.informedClaimable }}">Vote Informed</a>
    </li>
    <li>
      <a href="#" class="contract-vote" data-vote="{{ voteTypeMap.uninformedClaimable }}">Vote Uninformed</a>
    </li>
    <li>
      <a href="#" class="contract-vote" data-vote="{{ voteTypeMap.abstainedClaimable }}">Abstain</a>
    </li>
  </ul>

  <hr>
  <h3>Real Count</h3>
  <ul>
    <li>
      Uninformed: <span id="vote-count-{{ voteTypeMap.uninformedClaimable }}">{{ votes.uninformedClaimable or 0 }}</span>,
      Informed: <span id="vote-count-{{ voteTypeMap.informedClaimable }}">{{ votes.informedClaimable or 0 }}</span>,
      Abstained: <span id="vote-count-{{ voteTypeMap.abstainedClaimable }}">{{ votes.abstainedClaimable or 0 }}</span>
    </li>
  </ul>

  {% if votesTallied.length > 0 %}
  <hr>
  <h3>Claimable Results</h3>
  <ul>
    {% for tallied in votesTallied %}
    <li>
      Uninformed: {{ tallied.uninformedClaimable or 0 }}, Informed: {{ tallied.informedClaimable or 0 }}, Abstained: {{ tallied.abstainedClaimable or 0 }} <span class="badge bg-secondary">{{ tallied.type }}</span>
    </li>
    {% endfor %}
  </ul>
  {% endif %}

  <div id="error-message">{% if ended %}This round has closed.{% endif %}</div>
</div>
{% endblock %}
